body {
    background-color: rgb(220, 248, 248);
}
div.jumbotron{
    background-color: #f5d1d6;
    height: 120px;
}
div.container-fluid{
    background-image: url("../CSS/raha.jfif") ;
    height:  120px;

}
th{
    color: #7d8083;
}
h1{
    font-stretch: expanded;
    font-size: 80px;
    color: white;

}

h3, h5{
    color: #656566;
}

button {

    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 19px 39px 18px;
    font-size: 18px;

    border-color:  #AAB3BB;
    background-color: #C6CCD2;

}

p{
    color: #610572;
}