body{
    background-color: rgb(220, 248, 248);
}
h3{
    color: #7154f5;
    font-size: large;
    font-family: "Arial Nova Cond";
}
th{
    color: #e01bd7;
}

button{
    color: #4c1067;
    font-max-size: large;
}
p{
    color: #610572;
}