body{
    background-color: rgba(241, 226, 226, 0.85);
}
h1{
    color: darkviolet;
    font-size: xxx-large;
    font-family: "Blackadder ITC";
}
p{
    color: darkblue;
}

dl{
    color: darkviolet;
}